SECRET_KEY=%&yv21=2w+o8@=ejpcnj+^4h*+da!hd_423e)h!_dot81f6$*3
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

MYSQL_DATABASE=visitas
MYSQL_USER=visitas_app
MYSQL_PASSWORD=visitas_dev
MYSQL_ROOT_PASSWORD=root_dev

DB_HOST=127.0.0.1
DB_PORT=3307
